* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
h1,h2,h3,p {
    line-height: 1.5;
}
p {
    margin: 15px 0;
}

/* Header */
.header {
    z-index: 999;
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    
}
.header .menu > li{
    list-style: none;
    float: left;
}
.header .menu > li > a {
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

/* Banner */
.banner {
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}
.banner:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../assets/banner.jpg');
}
.banner .row {
    width: 70vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}
.banner .content {
    position: relative;
    z-index: 2;
    margin: auto 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.banner .content:before {
    content: '';
    width: 40%;
    height: 1px;
    position: absolute;
    background-color: #fff;
    bottom: -.6px;
}
.banner h6 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.banner h1 {
    position: relative;
    font-size: 95px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

/* About */
.main-content .about {
    padding: 120px 0 100px;
    background-color: #9BA9B1;
    position: relative;
}
.main-content .about .row {
    width: 100%;
    max-width: 800px;
    position: relative;
    background-color: #5f5c68;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 0px;
}
.main-content .about .content {
    padding-left: 20px;
}
.main-content .about img.featured {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 250px;
    position: relative;
    top: -70px;
    left: -40px;
}
.main-content .about h2 {
    margin: auto;
    font-family: 'Playfair Display' ,serif;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    position: relative;
}
.main-content .about h2 > span {
    font-weight: 700;
    display: block;
    font-size: 30px;
    line-height: 1.2 !important;
}
.main-content .about h2::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    top: 50%;
    left: -20%;
    background-color: #fff;
}
.main-content .about p {
    color: #fff;
}

/* Rooms */
.rooms {
    background-color: #fff;
    padding: 100px 0;
    position: relative;
}
.rooms .row {
    max-width: 978px;
}
.rooms .rooms-col.reverse {
    flex-direction: row-reverse;
}
.rooms .rooms-col {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.rooms .rooms-col img {
    width: 60%;
    height: auto;
    box-shadow: 0 2em 1.5em -1em rgb(0 0 0 / 30%);
}
.rooms .rooms-col .content {
    padding: 30px 40px 0 30px;
    margin-left: 10px;
    background-color: #9BA9B1;
    color: #fff;
}
.rooms .rooms-col.reverse .content {
    margin-left: 0 !important;
    margin-right: 10px;
}
.rooms .rooms-col .content h3 {
    font-family: 'Playfair Display' ,serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
    background-color: #9BA9B1;
}
.testimonials .swiper-container {
    width: 100%;
    height: 100%;
    padding: 50px 0;
  }

.testimonials .swiper-slide {
    color: #fff;
    padding: 0 0 50px;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.testimonials .swiper-slide .content {
    width: 60%;
    margin: 0 auto;
}
.testimonials .swiper-slide .content span {
    display: block;
    margin-top: 20px;
}
.testimonials .swiper-pagination-bullet-active {
    background: #fff !important;
}
.testimonials .swiper-pagination {
    padding-bottom: 50px;
}

/* Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery .gallery-tab {
    margin: 0 auto;
}
.gallery-tab .tab-button {
    background-color: #9BA9B1;
    color: #fff;
    padding: 10px 20px;
    border: 0px;
    outline: 0;
    cursor: pointer;
    transition: .3s all ease;
    margin: 0 -1.7px !important;
}
.gallery-tab .tab-button:hover,
.active {
    background-color: transparent !important;
    color: #9BA9B1 !important;
}
.gallery-wrap {
    padding: 50px;
}
.tab-container .tab-wrap {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 5px; 
}
.tab-wrap img {
    margin-top: 5px;
    vertical-align: middle;
    width: 100% !important;
    height: auto !important;
}
/* Contact */
.map .row {
    display: flex;
    max-width: unset;
    background-color: #9BA9B1;
}
.map .row .col {
    width: 100%;
}
.map .row .contact {
    padding: 50px;
    height: auto;
    color: #fff;
    text-align: justify;
}
.map .row .contact h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.map .mapouter,
.map .mapouter .gmap_canvas,
.map .mapouter .gmap_canvas iframe {
    width: 100%;
}

.contact-us {
    background-image: url("../assets/contact-us.jpg");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    padding: 100px 0;
    text-align: center;
    color: #fff;

}
.contact-us .row {
    width: 50%;
}
.contact-us h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.contact-us a {
    display: inline-block;
    margin-top: 50px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 10px 20px;
    border: 2px solid #fff;
    transition: .3s all ease;
}
.contact-us a:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 600px) {
    .tab-wrap {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .tab-container .tab-wrap {
        column-count: 1;
    }
  }
@media screen and (max-width: 800px) {
    .tab-wrap {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 100%;
    }
}
@media only screen and (min-width: 761px) and (max-width: 1024px) {
    .main-content .about h2::after {
        left: -30%;
    }
    .main-content .about .row {
        width: 95%;
        flex-direction: column;
        padding: 0 !important;
    }
    .main-content .about .row img{
        width: 100%;
        height: auto;
        top: 0px;
        left: 0px;
    }
    /* Rooms */
    .rooms {
        padding: 0 20px;
        background-color: transparent;
        margin-bottom: 50px;
    }

    .contact-us .row {
        width: 100%;
    }
}
@media only screen and (max-width: 760px) {

    /* Header */
    .header .menu > li {
        display: contents;
    }
    .header .menu > li > a {
        padding: 0 7px !important;
    }

    /* Banner */
    .banner {
        overflow: hidden;
    }
    .banner .row {
        width: 100%;
        padding: 0 30px;
        background-position: 1%;
    }
    .banner h1 {
        font-size: 50px;
    }

    /* About */
    .main-content .about .row {
        width: 100%;
        padding: 0 !important;
    }
    .main-content .about {
        padding: 0 !important;
    }
    .main-content .about .row {
        display: flex;
        flex-direction: column;
    }
    .main-content .about .row {
        width: 100%;
        padding-top: 0 !important;
    }
    .main-content .about img.featured {
        display: none;
    }
    .main-content .about .content {
        padding: 20px;
        text-align: justify;
    }
    .main-content .about h2::after {
        top: 110%;
        left: 0%;
        width: 85px;
    }

    /* Rooms */
    .rooms {
        padding: 0;
        margin-bottom: 50px;
    }
    .rooms .rooms-col {
        flex-direction: column !important;
    }
    .rooms .rooms-col img {
        width: 100%;
    }
    .rooms .rooms-col,
    .rooms .rooms-col .content {
        margin: 0 !important;
    }
    .rooms .rooms-col .content {
        padding: 20px !important;
        text-align: justify;
    }

    /* Testimonials */
    .testimonials .swiper-slide .content {
        width: 100%;
        padding: 0 20px;
    }
    .testimonials .swiper-slide {
        padding-bottom: 20px;
        text-align: justify;
    }

    /* Gallery */
    .gallery {
        flex-direction: column;
    }
    .gallery .gallery-tab {
        flex-direction: row;
    }
    .gallery-wrap {
        padding: 20px;
    }

    /* Contact */
    .contact-us {
        padding: 50px 20px;
    }
    .map .row {
        flex-direction: column-reverse;
    }
    .contact-us .row {
        width: 100%;
    }
    .map .mapouter,
    .map .mapouter .gmap_canvas {
        width: 100%;
    }
    .map .row .contact {
        padding: 20px;
    }
    .header {
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0 !important;
        padding: 0;
        margin: 0px;
        text-align: center !important;
    }
}